/* general */
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    position: relative;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.wrapper {
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    margin: -1px !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

/* competences */
.competences {
    width: 100%;
    background-color: #35a8e0;
}

.competences__wrapper {
    width: 100%;
    padding-top: 4.13rem;
}

.section__header {
    text-align: center;
}

.section__title {
    font-family: "Hind", "Arial", sans-serif;
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 1.2;
    margin: 0 0 1.69rem;
}

.section__title--competences {
    color: #2f2f2f;
}

.competences__paragraph {
    color: #fff;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin: 0;
    padding: 0 0.5rem;
}

/* gear */
.gear__wrapper {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 4.13rem 0;
    margin-bottom: 0;
}

.gear__item-wrapper {
    list-style: none;
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    border-radius: none;
    position: relative;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.list__title {
    color: #fff;
    width: 100%;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.13rem;
    padding: 1rem 0;
    text-transform: uppercase;
    text-align: center;
}

.gear__item {
    width: 9rem;
    height: 9rem;
    background: #fff;
    border-radius: 5px;
    margin: 0.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.gear__link {
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}

.gear__link--top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}

.gear__link--right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.gear__link--bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.gear__link--left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}

.gear__text {
    width: 100%;
    color: #2f2f2f;
    font-family: "Hind", "Arial", sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 1.5;
    padding: 0.2rem 0.5rem;
}

.gear__icon-wrapper {
    width: 5rem;
    height: 5rem;
    background: #fff;
    border: none;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.gear__icon {
    width: auto;
    height: auto;
}

/* form */
.form-section {
    background: #274291 url("../img/form-background.png") no-repeat center/cover;
}

.form-section__wrapper {
    padding-top: 2.06rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.section__title--form {
    color: #fff;
}

.form-section__paragraph {
    color: #fff;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin: 0 0 2.06rem;
}

.form-section__link {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    margin: 0 0.2rem;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

.form-section__link:hover {
    color: #1e88be;
}

.form {
    font-family: "Roboto", "Arial", sans-serif;
}

.form__wrapper {
    width: 100%;
    max-width: 951px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.form__item-wrapper {
    width: 100%;
    background: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    position: relative;
    margin: 0.5rem 0;
}

.form__item {
    width: 100%;
    height: 3.13rem;
    border: none;
    background: transparent;
    color: #565e66;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    padding: 0.5rem;
    position: relative;
    z-index: 2;
}

.form__item--select {
    background: #fff url("../img/arrow.png") no-repeat right;
    -webkit-appearance: none;
    background-position-x: 95%;
    color: #565e66;
    border-radius: 5px;
}

.form__item-wrapper--textarea {
    width: 100%;
    height: 7.75rem;
    margin: 0.5rem 0;
}

.form__item--textarea {
    width: 100%;
    height: 100%;
    resize: none;
    display: block;
}

.form__item~.focus-bg:before,
.form__item~.focus-bg:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    background-color: #e4e9ec;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    z-index: 1;
}

.form__item~.focus-bg:before {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.form__item~.focus-bg:after {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.form__item:focus~.focus-bg:before {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    width: 50%;
    height: 100%;
}

.form__item~.focus-bg:after {
    left: auto;
    right: 0;
    top: auto;
    bottom: 0;
}

.form__item:focus~.focus-bg:after {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    width: 50%;
    height: 100%;
}

.checkbox__wrapper {
    width: 100%;
    margin: 33px 0;
}

.checkbox {
    outline: none;
    display: none;
}

.checkbox+.checkbox__label {
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    position: relative;
    border: 1px solid transparent;
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.checkbox+.checkbox__label:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: -25px;
    top: 50%;
    color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.checkbox:checked+.checkbox__label:before {
    content: "🗸";
    background-color: #fff;
    color: #35a8e0;
    border: 1px solid #35a8e0;
    font-size: 13px;
    text-align: center;
}

.checkbox__label {
    color: #ffffff;
    font-size: 0.85rem;
    font-weight: 400;
    line-height: 16px;
    margin-left: 35px;
}

.agreement__link {
    color: #35a8e0;
    text-decoration: none;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

.agreement__link:hover {
    color: #1e88be;
}

.agreement__span {
    color: #565e66;
}

.form__btn-wrapper {
    width: 10.19rem;
    height: 3.25rem;
    background: #35a8e0;
    border-radius: 5px;
    margin: 0 auto 4.13rem;
    z-index: 1;
}

.form__btn {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 0.85rem;
    font-weight: 700;
    line-height: 1.13rem;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.form__btn::before,
.form__btn::after {
    content: "";
    width: 0%;
    height: 100%;
    background: #1e88be;
    position: absolute;
    top: 0;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.form__btn::before {
    left: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.form__btn::after {
    right: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.form__btn:hover::before,
.form__btn:hover::after {
    width: 50%;
}

/* media queries*/
@media only screen and (min-width: 751px) and (max-width: 905px) {

    /* gear */
    .gear__item:nth-of-type(11) {
        width: 23rem;
    }

    .gear__item:nth-of-type(12) {
        width: 23rem;
    }
}

@media only screen and (min-width: 751px) and (max-width: 999px) {

    /* form */
    .form__wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .form__item-wrapper {
        width: 48%;
        margin: 0.5rem 0.2rem;
    }

    .form__item-wrapper:last-of-type {
        width: 100%;
    }

    .checkbox__wrapper {
        text-align: center;
    }
}

@media only screen and (min-width: 1000px) {

    /* competences */
    .competences {
        background-color: #fff;
    }

    .competences__paragraph {
        color: #565e66;
    }

    /* gear */
    .gear__wrapper {
        padding: 8.25rem 0 17.5rem;
    }

    .gear__item-wrapper {
        width: 37.25rem;
        height: 37.25rem;
        border: 1px solid #d4dbe0;
        background: url("../img/gear.png") no-repeat center/78.69%;
        border-radius: 50%;
    }

    .list__title {
        padding: 0;
    }

    .gear__item {
        width: auto;
        height: auto;
        position: absolute;
        display: static;
        background: transparent;
        border-radius: 5px;
        margin: 0;
        padding: 0;
    }

    .gear__item:nth-of-type(1) {
        transform: rotate(-90deg) translate(150%) rotate(90deg);
        bottom: 50%;
    }

    .gear__item:nth-of-type(2) {
        transform: rotate(-65deg) translate(100%) rotate(65deg);
        left: 50%;
    }

    .gear__item:nth-of-type(3) {
        -webkit-transform: rotate(-20deg) translate(95%) rotate(20deg);
        -ms-transform: rotate(-20deg) translate(95%) rotate(20deg);
        transform: rotate(-20deg) translate(95%) rotate(20deg);
        left: 25%;
    }

    .gear__item:nth-of-type(4) {
        -webkit-transform: rotate(0deg) translate(100%) rotate(-0deg);
        -ms-transform: rotate(0deg) translate(100%) rotate(-0deg);
        transform: rotate(0deg) translate(100%) rotate(-0deg);
        left: 50%;
    }

    .gear__item:nth-of-type(5) {
        -webkit-transform: rotate(-330deg) translate(100%) rotate(330deg);
        -ms-transform: rotate(-330deg) translate(100%) rotate(330deg);
        transform: rotate(-330deg) translate(100%) rotate(330deg);
        left: 50%;
    }

    .gear__item:nth-of-type(6) {
        -webkit-transform: rotate(-300deg) translate(95%) rotate(300deg);
        -ms-transform: rotate(-300deg) translate(95%) rotate(300deg);
        transform: rotate(-300deg) translate(95%) rotate(300deg);
        left: 50%;
    }

    .gear__item:nth-of-type(7) {
        -webkit-transform: rotate(90deg) translate(70%) rotate(-90deg);
        -ms-transform: rotate(90deg) translate(70%) rotate(-90deg);
        transform: rotate(90deg) translate(70%) rotate(-90deg);
        bottom: 0;
    }

    .gear__item:nth-of-type(8) {
        -webkit-transform: rotate(-240deg) translate(100%) rotate(240deg);
        -ms-transform: rotate(-240deg) translate(100%) rotate(240deg);
        transform: rotate(-240deg) translate(100%) rotate(240deg);
        right: 50%;
    }

    .gear__item:nth-of-type(9) {
        -webkit-transform: rotate(-210deg) translate(100%) rotate(210deg);
        -ms-transform: rotate(-210deg) translate(100%) rotate(210deg);
        transform: rotate(-210deg) translate(100%) rotate(210deg);
        right: 50%;
    }

    .gear__item:nth-of-type(10) {
        -webkit-transform: rotate(180deg) translate(100%) rotate(-180deg);
        -ms-transform: rotate(180deg) translate(100%) rotate(-180deg);
        transform: rotate(180deg) translate(100%) rotate(-180deg);
        right: 50%;
    }

    .gear__item:nth-of-type(11) {
        -webkit-transform: rotate(-150deg) translate(100%) rotate(150deg);
        -ms-transform: rotate(-150deg) translate(100%) rotate(150deg);
        transform: rotate(-150deg) translate(100%) rotate(150deg);
        right: 50%;
    }

    .gear__item:nth-of-type(12) {
        -webkit-transform: rotate(-60deg) translate(160%) rotate(60deg);
        -ms-transform: rotate(-60deg) translate(160%) rotate(60deg);
        transform: rotate(-60deg) translate(160%) rotate(60deg);
        right: 100%;
    }

    .gear__text {
        width: auto;
        font-size: 1rem;
        line-height: 1.44rem;
        padding: 0;
    }

    .gear__text--top {
        margin-bottom: 0.69rem;
    }

    .gear__text--right {
        margin-left: 0.69rem;
        text-align: left;
    }

    .gear__text--bottom {
        margin-top: 0.69rem;
    }

    .gear__text--left {
        margin-right: 0.69rem;
        text-align: right;
    }

    .gear__icon-wrapper {
        background: #f4f7f9;
        border: 3px solid #d4dbe0;
        position: relative;
        z-index: 2;
        overflow: hidden;
    }

    .gear__icon-wrapper::before,
    .gear__icon-wrapper::after {
        content: "";
        width: 0%;
        height: 100%;
        background: #e4e9ec;
        position: absolute;
        top: 0;
        z-index: -1;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }

    .gear__icon-wrapper::before {
        left: 0;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
    }

    .gear__icon-wrapper::after {
        right: 0;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
    }

    .gear__icon-wrapper:hover::before,
    .gear__icon-wrapper:hover::after {
        width: 50%;
    }

    .gear__link--top {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .gear__link--right {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .gear__link--bottom {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .gear__link--left {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    /* form */
    .form__wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .form__item-wrapper {
        width: 32%;
        margin: 0.5rem 0.2rem;
    }

    .form__item-wrapper:last-of-type {
        width: 100%;
    }

    .checkbox__wrapper {
        text-align: center;
    }
}
