/* font-family: "Hind", "Arial", sans-serif;
font-family: "Roboto", "Arial", sans-serif; */
/* general */
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    position: relative;
    scroll-behavior: smooth;
}

.wrapper {
    width: 90%;
    max-width: 1250px;
    margin: 0 auto;
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    margin: -1px !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

/* competences */
.competences__wrapper {
    padding-top: 66px;
    text-align: center;
}

.section__title {
    font-family: "Hind", "Arial", sans-serif;
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 31.07px;
    margin-bottom: 27px;
}

.section__title--competences {
    color: #2f2f2f;
}

.competences__paragraph {
    color: #565e66;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
}

/* form */
.form-section {
    background: #274291 url("../img/form-background.png") no-repeat center/cover;
}

.form-section__wrapper {
    padding-top: 33px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section__title--form {
    color: #fff;
}

.form-section__paragraph {
    color: #fff;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 33px;
}

.form-section__link {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.3s;
    margin: 0 0.2rem;
}

.form-section__link:hover {
    text-decoration: underline;
}

.form {
    font-family: "Roboto", "Arial", sans-serif;
}

.form__wrapper {
    width: 100%;
    max-width: 951px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form__item-wrapper {
    width: 100%;
}

.form__item {
    width: 100%;
    min-width: 306px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #dbdbdb;
    background: #fff;
    color: #565e66;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    padding: 0.5rem;
    margin: 0.5rem 0;
}

.form__item--select {
    background: #fff url("../img/arrow.png") no-repeat right;
    -webkit-appearance: none;
    background-position-x: 95%;
    color: #565e66;
}

.form__item-wrapper--textarea {
    width: 100%;
}

.form__item--textarea {
    width: 100%;
    max-width: 951px;
    height: 124px;
    resize: none;
    margin: 0.5rem 0;
}

.checkbox__wrapper {
    width: 100%;
    margin: 33px 0;
}

.checkbox {
    outline: none;
    display: none;
}

.checkbox + .checkbox__label {
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    position: relative;
    border: 1px solid transparent;
    transition: all 200ms ease;
}

.checkbox + .checkbox__label:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: -25px;
    top: 50%;
    color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    transform: translateY(-50%);
    transition: all 200ms ease;
}

.checkbox:checked + .checkbox__label:before {
    content: "🗸";
    background-color: #fff;
    color: #35a8e0;
    border: 1px solid #35a8e0;
    font-size: 13px;
    text-align: center;
}

.checkbox__label {
    color: #ffffff;
    font-size: 0.85rem;
    font-weight: 400;
    line-height: 16px;
    margin-left: 35px;
}

.agreement__link {
    color: #35a8e0;
    text-decoration: none;
}

.agreement__link:hover {
    text-decoration: underline;
}

.agreement__span {
    color: #565e66;
}

.form__btn {
    width: 163px;
    height: 52px;
    border-radius: 5px;
    background: #35a8e0;
    border: none;
    color: #fff;
    font-size: 0.85rem;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 0.6s;
    margin-bottom: 66px;
}

.form__btn:hover {
    background: #1e88be;
}

/* media queries*/
@media only screen and (min-width: 700px) {
    /* form */
    .form__wrapper {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .form__item-wrapper--input {
        max-width: 306px;
    }

    .form__item--input {
        max-width: 306px;
    }

    .form__item--textarea {
        margin: 0.5rem 0;
    }

    .checkbox__label {
        margin-left: 0;
    }
}

@media only screen and (min-width: 1024px) {
    /* form */
    .form__wrapper {
        justify-content: space-between;
    }
}
